body{
    margin: 0%;
}

h1{
    text-align: center;
    font-weight: bold;
    color: rgb(246, 118, 71);
}

.frais{
    text-align: center;
}

.euro {
    color: green;
}

.container{
    display: flex;
}

.carte{
    width: 700px;
    height: 400px;
    background-color: rgb(201, 204, 207);
    border-radius: 5%;
}

.donnee{
    margin: 2%;
    width: 700px;
    height: 400px;
}

.donnee label{
    text-align: center;
}






{

}